@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), url("../fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: "medium";
	font-display: "swap";
}

@font-face {
  font-family: "Roboto Regular";
  src: local("Robot Regular"), url("../fonts/Roboto-Regular.ttf") format("ttf");
	font-display: "swap";
}
